#SECRETS
.DS_Store
.env

#SCRIPT FILES
LavoraMi.xcodeproj/project.xcworkspace/xcuserdata/andrea.xcuserdatad/UserInterfaceState.xcuserstate
LavoraMi/SupabaseAuth/SupabaseClient.swift
LavoraMi/GoogleService-Info.plist
LavoraMi/Info.plist
