<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>it.andreafilice.lavorami</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lavorami</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>TitilliumWeb-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1768959234616789~9514999727</string>
	<key>AdUnitID</key>
	<string>ca-app-pub-1768959234616789/6091166551</string>
</dict>
</plist>
